@font-face {
    font-family: "Pacifico";
    src: url('fonts/Pacifico.ttf');
}
@font-face {
    /*font-family: "Puritan";
    src: url('fonts/Puritan-Regular.ttf'); */
}

/* General style */
* {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}
html {
    width: 100%;
    height: 100%;
}
body {
    color: rgba(74, 74, 74, 1);
    min-height: 100%;
}
.wrap {
    width: 100%;
    min-height: 100%;
    font-size: 14px;
}
.b-wrap {
    width: auto;
    min-height: 100%;
    font-size: 14px;
}
.td-wrap {
    width: 100%;
    min-height: 100%;
    padding: 50px 0;
}
.td-board-world {
    width: auto;
    padding: 43px 0 0 0;
    /* Add */
    position: absolute;
    z-index: 85;
    left: 0;
    right: 0;
    top:0;
    bottom:0
}
.td-word-wrap {
    width: 1240px;
    min-height: 100%;
    margin: 0 auto;
}
.td-foo {
    width: 100%;
    min-height: 100%;
    display: block;
    float: left;
}
.td-in-foo {
    width: 1240px;
    margin: 0 auto;
    min-height: 100%;
}
.td-in-foo .foo-vert {
    display: inline-block;
    float: left;
    width: 33.3%;
}
.foo-vert .f-link {
    transition: all .2s;
}
.foo-vert .f-link:hover {
    color: #3498DB;
}


/* Sroll bar style */
body::-webkit-scrollbar,
textarea::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background-color: #EFEFEF;
}
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background-color: #E1E1E1;
    transition: all .7s;
}
body::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
    background-color: #CCCCCC;
}

/* Progress bar style */
#progressContainer{
    position: fixed;
    top: 43px;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    z-index: 95;
    margin-bottom: 20px;
}
#bar{
    position: relative;
    height: 100%;
    background-color: #00ACED;
    box-shadow: 3px 3px 5px 1px rgba(0, 153, 255, 0.20);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0, 153, 255, 0.20);
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 153, 255, 0.20);
    width: 0;
}
#progressElement{
    display: none;
}


/* fixed head bar style */
.td-header {
    width: 100%;
    height: 42px;
    background-color: #3498DB;
    border-bottom: 1px solid #2980B9;
    position: fixed;
    z-index: 100;
}
.in-header {
    margin: 0 auto;
    display: block;
    width: 1240px;
    height: 100%;
}
.logo-check {
    margin-right: -5px;
}
.todo-active {
    background-color: #3498DB;
    color: #FFFFFF;
    z-index: 2;
    border-color: #2980B9;
}
.h-logo {
    float: left;
    width: auto;
    font-size: 20px;
    line-height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    font-family: Pacifico, sans-serif;
}
.h-logo a {
    color: #FFFFFF;
    text-decoration: none;
}
/* Menu */
.menu,
.menu ul {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}
.menu li a {
    padding: 15px 13px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 42px;
    transition: all .3s;
}
.menu li {
    position: relative;
    float: left;
    list-style: none;
    margin-bottom: 0 !important;
}
.menu li:hover > a {
    background-color: #2980B9;
    color: #FFFFFF;
}
.menu ul {
    position: absolute;
    min-width: 120px;
    height: auto;
    background-color: #FFFFFF;
    top: 43px;
    left: 0;
    font-size: 12px;
    border-radius: 0 0 3px 3px !important;
    box-shadow: 0 2px 4px rgba(34, 25, 25, 0.5);
}
.menu-dropDown {
    -moz-transform:scaleY(0);
    -ms-transform:scaleY(0);
    -o-transform:scaleY(0);
    -webkit-transform:scaleY(0);
    transform:scaleY(0);

    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -o-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    transform-origin:0 0;

    display: none;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(34, 25, 25, 0.5);
}
.menu li ul li{
    display: block;
    float: left;
    margin-bottom: 0 !important;
}
.menu li ul a i {
    width: 15%;
    float: left;
    text-align: left;
}
.menu li ul a span {
    width: 80%;
    float: right;
    text-align: left;
}
.menu li ul a{
    display: block;
    float: left;
    min-width: 150px;
    line-height: 10px;
    color: #2C3E50;
    font-weight: normal;
    text-align: left;
    cursor: pointer;
}
.menu ul a:hover {
    background-color: #2980B9;
    color: #FFFFFF;
}
.menu li:hover .menu-dropDown {
    -moz-transform:scaleY(1);
    -ms-transform:scaleY(1);
    -o-transform:scaleY(1);
    -webkit-transform:scaleY(1);
    transform:scaleY(1);

    display: block;
}
.menu li:last-child ul {
    left: auto;
    right: 0;
}
/* Fin Menu */

.lien_menu {
    background-color: #2980B9;
    color: #FFFFFF;
    border-radius: 3px;
}
.tp-header-avatar {
    display: inline-block;
    float: left;
    width: 25px;
    margin-top: 3px;
}


/* Noticators style */
.td-pop {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 25px;
    font-family: Arial, sans-serif;
    position: fixed;
    z-index: 100;
    top: 43px;
    border-radius: 0;
    width: 95.85%;
    padding: .8% 1% .8% 3% ;
}
.td-pop-in {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 25px;
    font-family: Arial, sans-serif;
    border-radius: 0;
    width: 95.85%;
    padding: .8% 1% .8% 3% ;
}
.blanco {
    color: #FFFFFF;
    text-shadow: none;
}
.blanco:hover {
    color: #FFFFFF;
}


/* Notifications style */
.alert-danger {
    background-color: #E74C3C;
}
.alert-succes {
    background-color: #1ABC9C;
}
.alert-warm {
    background-color: #31708F;
}
.alert-info {
    background-color: #F1C40F;
}
.alert-primary {
    background-color: #2980B9;
}
.alert-link {
    background-color: transparent;
}
.set-alert-in-block {
    display: block;
    width: 83%;
    margin-bottom: 0;
}
.dot-close {
    color: #BDC3C7;
}
.dot-close:hover {
    color: #2980B9;
}

/* images radius style */
.img-circle {
    border-radius: 50%;
}
.img-square {
    border-radius: 5px;
}


/* Images size style*/
.img-small {
    width: 25px;
}
.img-small-lg {
    width: 35px;
}
.img-middle {
    width: 100px;
}


/* Div style */
.bordered {
    border: 1px solid #BDC3C7;
}
.danger-bordered {
    border: 1px solid #E74C3C;
}
.bolder {
    font-weight: bold;
}
.blocked {
    display: block !important;
}
.inlined {
    display: inline-block !important;
}
.invisible {
    opacity: 0;
}
.smallerfier {
    width: 20%;
}
.minifierer {
    width: 35%;
}
.midlerer {
    width: 60%;
}
.set-in-block {
    display: block;
    width: 98.3%;
    max-width: 98.3%;
}
.divider {
    width: 100%;
    display: block;
    border-bottom: 1px solid #BDC3C7;
}
.clearer {
    clear: both;
}
.min-raduised {
    border-radius: 3px;
}
.moy-raduised {
    border-radius: 5px;
}
.max-raduised {
    border-radius: 10px;
}


/* Margin style */
.margin-top-zx {
    margin-top: 15px !important;
}
.margin-top-1x {
    margin-top: 35px !important;
}
.margin-top-zx-plus {
    margin-top: 25px !important;
}
.margin-top-lg {
    margin-top: 50px !important;
}
.margin-top-2x {
    margin-top: 100px !important;
}
.margin-bottoms-zx {
    margin-bottom: 15px !important;
}
.margin-bottoms-zx-plus {
    margin-top: 15px !important;
}
.margin-bottoms-1x {
    margin-bottom: 35px !important;
}
.margin-bottom-lg {
    margin-bottom: 50px !important;
}
.margin-bottom-2x {
    margin-bottom: 100px !important;
}
.no-margin {
    margin: 0 auto;
}


/* text style */
.text-in-shadowed {
    text-shadow: 1px 1px 3px #F5F5F5;
}
.text-shadowed {
    text-shadow: 1px 1px 3px #2C3E50;
}
.box-shadowed {
    box-shadow: 1px 1px 3px #2C3E50;
}
.underlined {
    text-decoration: underline !important;
}
.unerderlined {
    text-decoration: none !important;
}
.text-danger {
    color: #E74C3C !important;
}


/* Title style */
.td-title {
    margin: 0;
    height: 40px;
    display: block;
    border-bottom: 1px solid #BDC3C7;
}
.bgc-title{
    background-color: #F5F5F5;
}
.td-title h3,
.td-title h4 {
    margin: 0;
    padding: 13px 15px;
}


/* Brain color and background for text style */
.td-color-lg {
    color: #3498DB;
}
.td-color-ld {
    color: #2980B9;
}
.td-color-grey {
    color: #A0A0A0;
}
.td-bgc-lg {
    background-color: #3498DB;
}
.td-bgc-ld {
    background-color: #2980B9;
}
.td-bgc-danger {
    background: #C0392B;
}


/* Box sizing style */
.td-col-min-small,
.td-col-moy-small,
.td-col-max-small,
.td-col-min-big,
.td-col-moy-big,
.td-col-max-big {
    display: inline-block;
    float: left;
    color: #2C3E50;
    min-height: 100%;
}
.td-col-min-small {
    width: 15% !important;
}
.td-col-moy-small {
    width: 20% !important;
}
.td-col-max-small {
    width: 25% !important;
}
.td-col-min-big {
    width: 73.1% !important;
}
.td-col-moy-big {
    width: 78.1% !important;
}
.td-col-max-big {
    width: 83.1% !important;
}

/* box content size style */
.td-div {
    display: block;
    float: left;
    width: 100%;
}
.td-content {
    display: block;
    padding: 13px 15px;
}
.span-horizontal-group {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.span-in-left {
    width: 15%;
    display: inline-block;
    float: left;
}
.span-in-right {
    width: 85%;
    display: inline-block;
    float: left;
}
.span-vertical-group {
    display: inline-block;
    float: left;
    width: auto;
    min-width: 50%;
    margin-bottom: 10px;
}
.span-in-top {
    display: block;
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.span-in-bottom {
    display: block;
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.absoluted {
    position: absolute;
    z-index: 3;
}
.td-padding {
    padding: 13px 15px !important; ;
}

/* Special todo btn style */
.td-like-btn {
    background-color: #F5F5F5;
    background: -moz-linear-gradient(top, #F5F5F5 0%, #E1E1E1 200%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(200%, #E1E1E1));
    background: -webkit-linear-gradient(top, #F5F5F5 0%, #E1E1E1 200%);
    background: -o-linear-gradient(top, #F5F5F5 0%, #E1E1E1 200%);
    background: -ms-linear-gradient(top, #F5F5F5 0%, #E1E1E1 200%);
    background: linear-gradient(to bottom, #F5F5F5 0%, #E1E1E1 200%);
    color: #2C3E50
}
.td-like-btn:hover,
.td-like-btn:focus {
    color: #3498DB;
    background-color: #F5F5F5;
}

/* Not really in use */
/*
.tp-e-infos {
    display: block;
    width: 100%;
}

.tp-e-infos u {
    text-decoration: none;
}

.inline-group,
.last-child,
.inline-final-group {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    clear: both;
}

.inline-group .form-group {
    width: 280px;
    display: inline-block;
    float: left;
}

.inline-group .form-inter {
    width: 23px;
    height: 58px;
    display: inline-block;
    float: left;
}*/


.dd-tb {
    border-bottom: 1px solid #BDC3C7;
}
.dd-tb:last-child {
    border-bottom: 0;
}
.dd-tb p {
    font-size: 12px;
}


.form-group label {
    display: block;
}
.form-group .form_input {
    display: block;
    width: 91%;
    padding: 1% 4%;
    font-size: 13px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #BDC3C7;
}
.form-group .form_select {
    display: block;
    width: 100%;
    padding: 1% 3%;
    height: 37px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #BDC3C7;
}
.form-group .form_tarea {
    display: block;
    width: 95.6%;
    padding: 1% 2%;
    height: 100px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #BDC3C7;
}

.form-group .form_input_validate {
    padding: 15px 12px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    width: auto;
    line-height: 3px;
    border-radius: 3px;
    background-color: #3498DB;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #2980B9 ;
    cursor: pointer;
}

.form-group .form_input_validate:hover {
    background-color: #2980B9;
    border-bottom: 3px solid #2980B9 ;
}


/* Float and margin style */
.float-right {
    float: right !important;;
}
.float-left {
    float: left !important;;
}
.align-left {
    text-align: left !important;
}
.align-right {
    text-align: right !important;;
}
.align-center {
    text-align: center !important;;
}
.valign-middle {
    vertical-align: middle !important;;
}
.valign-top {
    vertical-align: top !important;;
}
.valign-bottom {
    vertical-align: bottom !important;;
}


/* link and button style */
.bottomed {
    border-bottom: 3px solid #2980B9;
}
.cur-to-point {
    cursor: pointer;
}


/* texte size style */
.text-size-zx {
    font-size: 11px;
}
.text-size-1x {
    font-size: 13px;
}
.text-size-lg {
    font-size: 16px;
}
.text-size-2x {
    font-size: 18px;
}
.text-size-3x {
    font-size: 22px;
}

/* Tabs style */
.tabs-wrap {
    width: 100%;
    min-height: 100%;
    display: block;
    float: left;
}
.tabs {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}
.tabs:after {
    content: '';
    clear: both;
    display: block;
}
.tabs li {
    float: left;
}
.tabs li > input {
    display: none;
}
.tabs li > label a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
    border-radius: 3px;
}
.tabs li:last-child > label a {
    border: 1px solid #FFFFFF;
    border-bottom-color: #BDC3C7;
}

.tabs li > input:checked + label a {
    border: 1px solid #BDC3C7;
    border-bottom-color: #FFFFFF;
}
.tabs-content {
    display: block;
    border-top: 1px solid #BDC3C7;
    padding: 15px 0;
    position: relative;
    top: -11px;
    z-index: 0;
}
